body {
    font-family: sans-serif;
    background:url(https://mobimg.b-cdn.net/v2/fetch/7f/7febc8b40fa01b7cb9d0392ec9f74f86.jpeg);
    
}


main {
    background-image: linear-gradient(AntiqueWhite, OldLace,AliceBlue);
    margin:126px;
    border-style: solid;
    
}
